.loginScreen{
  width: 100vw;
  height: 100vh;
}

.leftContainer, .rightContainer {
  height: 100vh;
}
.leftContainer{
  width: 60%;
  border-radius: 26px;
  position: relative;
}

.leftContainer img{
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 20px;
 
}

.rightContainer {
  width: 40%;
  position: relative;
}

.rightContainer img {
  position: absolute;
  top: 0;
  left: 42%;
  width: 150px;
  height: 150px;
}
.customLabelName label, .customLabelPass label, .customLabelEmail label {
  font-size: 16px !important;
  /* Change font size for the first and second labels */
}

.customLabelName input, .customLabelPass span{
  background-color: #f5f7fa !important;
  border-color: #f5f7fa !important;
  height: 50px;
  
}

 .customLabelEmail input{
  background-color: white !important;
 }

 .inputOTP input{
  line-height: 3 !important;
  font-size: 19px !important;
 }