.appSider {
  >div {
    display: flex;
    flex-direction: column;
  }

  .ant-menu-item-selected {
    font-weight: 600;
  }

  .appSider_TopMenuCollapsed .ant-menu-submenu-title {
    padding-inline: calc(50% - 14px);
  }

  .appSider_TopMenuCollapsed .ant-menu-submenu-title svg {
    margin-top: 10px;
  }

  .appSider_TopMenuCollapsed .ant-menu-submenu-selected>.ant-menu-submenu-title {
    background-color: #e6f4ff;
  }

  .appSider_BottomMenu .ant-menu-submenu-title {
    line-height: unset;
    height: unset;
  }
  .appSider_BottomMenuCollapsed .ant-menu-submenu-title {
    padding-inline: calc(50% - 22px);
    height: fit-content;
  }
  .appSider_LogoContainer {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    border-radius: 20%;
  }

  .appSider_LogoContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .appSider_LogoText {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI';
    padding-left: 10px;
  }
}